header {
    display: flex;
    background-color: #171318;
    padding: 1rem;
}

nav {
    display: flex;
    gap: 10px;
}

a {
    background-color: #2B202E;
}

.nav_userButton, .nav_walletButton, .nav_langButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 8px;
    border-radius: 25px;
}

.nav_userButton {
    flex: 3;
    font-size: 1.2rem;
    font-weight: bold;
    color: #e7d4ea;

    font-family: Montserrat;
    img {
        max-width: 25%;
    }
}

.nav_langButton {
    color: #e7d4ea;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 1.4rem;
}

.iconWallet {
    height: 40px;
}

.iconArrow {
    width: 25px;
    height: 25px;
}
